*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
*_minted-*/
_minted-*/
*.nav
*.snm
*.vrb
*.dvi
*.ps
*.xdv
*.idx
*.ilg
*.ind
*.glo
*.gls
*.glg
*.ist
*.acn
*.acr
*.alg
*.loa
*.thm
*.pyg
*.xcp
*.xmpi
*.xmpdata
*.xmp
*.spl
*.synctex
*.synctex(busy)
*.pdfsync
*.latexmain
*Zone.Identifier
